{
  "openapi": "3.1.0",
  "info": {
    "title": "Jumpseller API",
    "description": "Jumpseller API — light version with the 30 most common endpoints. Full spec at https://api.jumpseller.com/swagger.json",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.jumpseller.com/v1"
    }
  ],
  "paths": {
    "/store/setup.json": {
      "post": {
        "tags": [
          "Stores"
        ],
        "summary": "Create a new store.",
        "description": "Creates a new store owned by the authenticated account. Requires a paying subscription with at least 24 hours since first payment. Limited to 5 store creations per account per day. Returns the new store API credentials.",
        "security": [
          {
            "OAuth2": [
              "write_store_setup"
            ]
          }
        ],
        "requestBody": {
          "description": "Store setup parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreSetupCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Store created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreSetupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - invalid name or JSON body."
          },
          "402": {
            "description": "Payment Required - a paying subscription is required."
          },
          "429": {
            "description": "Too Many Requests - store creation limit exceeded (5 per day)."
          },
          "403": {
            "description": "Forbidden - store creation is available 24 hours after first payment."
          }
        },
        "x-openai-isConsequential": true,
        "operationId": "createStore"
      }
    },
    "/store/info.json": {
      "get": {
        "tags": [
          "Stores"
        ],
        "summary": "Retrieve Store Information.",
        "security": [
          {
            "OAuth2": [
              "read_store"
            ]
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Store"
                }
              }
            }
          }
        },
        "operationId": "getStoreInfo"
      }
    },
    "/products.json": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Retrieve all Products.",
        "security": [
          {
            "OAuth2": [
              "read_products"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/LocaleParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          }
        },
        "operationId": "listProducts"
      },
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Create a new Product.",
        "security": [
          {
            "OAuth2": [
              "write_products"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LocaleParam"
          }
        ],
        "requestBody": {
          "description": "Product parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "x-openai-isConsequential": true,
        "operationId": "createProduct"
      }
    },
    "/products/{id}.json": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Retrieve a single Product.",
        "security": [
          {
            "OAuth2": [
              "read_products"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LocaleParam"
          },
          {
            "$ref": "#/components/parameters/ProductIDParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "404": {
            "description": "Product Not Found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          }
        },
        "operationId": "getProduct"
      },
      "put": {
        "tags": [
          "Products"
        ],
        "summary": "Modify an existing Product.",
        "security": [
          {
            "OAuth2": [
              "write_products"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductIDParam"
          },
          {
            "$ref": "#/components/parameters/LocaleParam"
          }
        ],
        "requestBody": {
          "description": "Product parameters to change",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductEdit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "404": {
            "description": "Product Not Found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "x-openai-isConsequential": true,
        "operationId": "updateProduct"
      },
      "delete": {
        "tags": [
          "Products"
        ],
        "summary": "Delete an existing Product.",
        "security": [
          {
            "OAuth2": [
              "write_products"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductIDParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Product Not Found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          }
        },
        "x-openai-isConsequential": true,
        "operationId": "deleteProduct"
      }
    },
    "/products/search.json": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Retrieve a Product List from a query.",
        "description": "Endpoint example: \n\n```text\nhttps://api.jumpseller.com/v1/products/search.json?query=test&fields=name,description \n```",
        "security": [
          {
            "OAuth2": [
              "read_products"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LocaleParam"
          },
          {
            "name": "query",
            "in": "query",
            "description": "Text to query for the Product",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma separated values of the fields to query for the Product",
            "schema": {
              "type": "string",
              "format": "string",
              "enum": [
                "sku",
                "barcode",
                "brand",
                "name",
                "description",
                "variants",
                "option_name",
                "custom_fields",
                "custom_fields_selects"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Product Status to query for the Product",
            "schema": {
              "type": "string",
              "format": "string",
              "enum": [
                "available",
                "not-available",
                "disabled",
                "featured"
              ]
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Comma separated values of the Category IDs to query for the Product",
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Invalid query.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          }
        },
        "operationId": "searchProducts"
      }
    },
    "/products/count.json": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Count all Products.",
        "security": [
          {
            "OAuth2": [
              "read_products"
            ]
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Count"
                }
              }
            }
          }
        },
        "operationId": "countProducts"
      }
    },
    "/products/{id}/images.json": {
      "get": {
        "tags": [
          "Product Images"
        ],
        "summary": "Retrieve all Product Images.",
        "security": [
          {
            "OAuth2": [
              "read_products"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductIDParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Image"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Product Not Found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          }
        },
        "operationId": "listProductImages"
      },
      "post": {
        "tags": [
          "Product Images"
        ],
        "summary": "Create a new Product Image.",
        "security": [
          {
            "OAuth2": [
              "write_products"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductIDParam"
          }
        ],
        "requestBody": {
          "description": "Product Image parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageEdit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Image"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "x-openai-isConsequential": true,
        "operationId": "createProductImage"
      }
    },
    "/products/{id}/variants.json": {
      "get": {
        "tags": [
          "Product Variants"
        ],
        "summary": "Retrieve all Product Variants.",
        "security": [
          {
            "OAuth2": [
              "read_products"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductIDParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Variant"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Product Not Found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          }
        },
        "operationId": "listProductVariants"
      },
      "post": {
        "tags": [
          "Product Variants"
        ],
        "summary": "Create a new Product Variant.",
        "security": [
          {
            "OAuth2": [
              "write_products"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductIDParam"
          }
        ],
        "requestBody": {
          "description": "Product Variant parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VariantEdit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Variant"
                }
              }
            }
          },
          "404": {
            "description": "Product Not Found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "x-openai-isConsequential": true,
        "operationId": "createProductVariant"
      }
    },
    "/categories.json": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Retrieve all Categories.",
        "security": [
          {
            "OAuth2": [
              "read_store"
            ]
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          }
        },
        "operationId": "listCategories"
      },
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Create a new Category.",
        "description": "Category's permalink is automatically generated from the given category's name.",
        "security": [
          {
            "OAuth2": [
              "write_store"
            ]
          }
        ],
        "parameters": [],
        "requestBody": {
          "description": "Category parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoryEdit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "x-openai-isConsequential": true,
        "operationId": "createCategory"
      }
    },
    "/categories/{id}.json": {
      "put": {
        "tags": [
          "Categories"
        ],
        "summary": "Modify an existing Category.",
        "security": [
          {
            "OAuth2": [
              "write_store"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the Category",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "requestBody": {
          "description": "Category parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoryEdit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "404": {
            "description": "Category Not Found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "x-openai-isConsequential": true,
        "operationId": "updateCategory"
      }
    },
    "/orders.json": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Retrieve all Orders.",
        "security": [
          {
            "OAuth2": [
              "read_orders"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LocaleParam"
          },
          {
            "name": "status_filters[]",
            "in": "query",
            "description": "Order Status to query for the Order",
            "schema": {
              "type": "string",
              "format": "string",
              "enum": [
                "paid",
                "created",
                "pending_payment",
                "canceled",
                "abandoned"
              ]
            }
          },
          {
            "name": "fulfillment_filters",
            "in": "query",
            "description": "Comma separated values of the fulfillment filters to query for the Order",
            "schema": {
              "type": "string",
              "format": "string",
              "enum": [
                "unfulfilled",
                "fulfilled"
              ]
            }
          },
          {
            "name": "dateFilter",
            "in": "query",
            "description": "Date to query for the Order.",
            "schema": {
              "type": "string",
              "format": "string",
              "enum": [
                "today",
                "yesterday",
                "last30days",
                "last7days",
                "last90days",
                "customDate"
              ]
            }
          },
          {
            "name": "initialDate",
            "in": "query",
            "description": "Starting date to query for the Order in the format YYYY-MM-DD. CustomDate and finalDate need to be used",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "finalDate",
            "in": "query",
            "description": "Starting date to query for the Order in the format YYYY-MM-DD. CustomDate and initialDate need to be used",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma separated values of the fields to query for the Order",
            "schema": {
              "type": "string",
              "format": "string",
              "enum": [
                "id",
                "tax",
                "..."
              ]
            }
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          }
        },
        "operationId": "listOrders"
      }
    },
    "/orders/{id}.json": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Retrieve a single Order.",
        "security": [
          {
            "OAuth2": [
              "read_orders"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the Order",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "404": {
            "description": "Order Not Found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          }
        },
        "operationId": "getOrder"
      },
      "put": {
        "tags": [
          "Orders"
        ],
        "summary": "Modify an existing Order.",
        "description": "Only `status`, `shipment_status`, `tracking_number`, `tracking_company`, `tracking_url`, `additional_information` and `additional_fields` are available for update. An email is send if `shipment_status` changes.",
        "security": [
          {
            "OAuth2": [
              "write_orders"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the Order",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "requestBody": {
          "description": "Order parameters to change",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderEdit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "404": {
            "description": "Order Not Found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "x-openai-isConsequential": true,
        "operationId": "updateOrder"
      }
    },
    "/orders/search.json": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Retrieve an Orders List from a query.",
        "description": "Endpoint example: \n\n```text\n https://api.jumpseller.com/v1/orders/search.json?fulfillment_filters=unfulfilled,fulfilled&status_filters[]=paid&status_filters[]=abandoned&dateFilter=last7days \n```",
        "security": [
          {
            "OAuth2": [
              "read_orders"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LocaleParam"
          },
          {
            "name": "query",
            "in": "query",
            "description": "Text to query for the Order",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "status_filters[]",
            "in": "query",
            "description": "Order Status to query for the Order",
            "schema": {
              "type": "string",
              "format": "string",
              "enum": [
                "paid",
                "created",
                "pending_payment",
                "canceled",
                "abandoned"
              ]
            }
          },
          {
            "name": "fulfillment_filters",
            "in": "query",
            "description": "Comma separated values of the fulfillment filters to query for the Order",
            "schema": {
              "type": "string",
              "format": "string",
              "enum": [
                "unfulfilled",
                "fulfilled"
              ]
            }
          },
          {
            "name": "dateFilter",
            "in": "query",
            "description": "Date to query for the Order.",
            "schema": {
              "type": "string",
              "format": "string",
              "enum": [
                "today",
                "yesterday",
                "last30days",
                "last7days",
                "last90days",
                "customDate"
              ]
            }
          },
          {
            "name": "initialDate",
            "in": "query",
            "description": "Starting date to query for the Order in the format YYYY-MM-DD. CustomDate and finalDate need to be used",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "finalDate",
            "in": "query",
            "description": "Starting date to query for the Order in the format YYYY-MM-DD. CustomDate and initialDate need to be used",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma separated values of the fields to query for the Order",
            "schema": {
              "type": "string",
              "format": "string",
              "enum": [
                "id",
                "tax",
                "..."
              ]
            }
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orders": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Order"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Total number of orders matching the query"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Invalid query.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          }
        },
        "operationId": "searchOrders"
      }
    },
    "/customers.json": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Retrieve all Customers.",
        "security": [
          {
            "OAuth2": [
              "read_customers"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Customer"
                  }
                }
              }
            }
          }
        },
        "operationId": "listCustomers"
      }
    },
    "/customers/{id}.json": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Retrieve a single Customer by id.",
        "security": [
          {
            "OAuth2": [
              "read_customers"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerIDParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "404": {
            "description": "Customer Not Found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          }
        },
        "operationId": "getCustomer"
      }
    },
    "/customers/search.json": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Retrieve a Customer List from a query.",
        "description": "Endpoint example: \n\n```text\nhttps://api.jumpseller.com/v1/customers/search.json?query=test&order=desc,description \n```",
        "security": [
          {
            "OAuth2": [
              "read_customers"
            ]
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Text to query for the Customer. If empty return all customers.",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort Customers by creation date, 'asc' for ascending order or 'desc' for descending order.",
            "schema": {
              "type": "string",
              "format": "string",
              "default": "asc"
            }
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Customer"
                  }
                }
              }
            }
          }
        },
        "operationId": "searchCustomers"
      }
    },
    "/shipping_methods.json": {
      "get": {
        "tags": [
          "Shipping Methods"
        ],
        "summary": "Retrieve all Store's Shipping Methods.",
        "security": [
          {
            "OAuth2": [
              "read_shipping_methods"
            ]
          }
        ],
        "parameters": [
          {
            "name": "enabled",
            "in": "path",
            "description": "If shipping method is enabled",
            "schema": {
              "type": "boolean"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Shipping Methods",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShippingMethod"
                  }
                }
              }
            }
          }
        },
        "operationId": "listShippingMethods"
      },
      "post": {
        "tags": [
          "Shipping Methods"
        ],
        "summary": "Creates a Shipping Method.",
        "security": [
          {
            "OAuth2": [
              "write_shipping_methods"
            ]
          }
        ],
        "parameters": [],
        "requestBody": {
          "description": "Shipping Method parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShippingMethodEdit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShippingMethod"
                }
              }
            }
          },
          "404": {
            "description": "ShippingMethod Not Found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "x-openai-isConsequential": true,
        "operationId": "createShippingMethod"
      }
    },
    "/payment_methods.json": {
      "get": {
        "tags": [
          "Payment Methods"
        ],
        "summary": "Retrieve all Store's Payment Methods.",
        "security": [
          {
            "OAuth2": [
              "read_payment_methods"
            ]
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "An array of Payment Methods",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentMethod"
                  }
                }
              }
            }
          }
        },
        "operationId": "listPaymentMethods"
      }
    },
    "/pages.json": {
      "get": {
        "tags": [
          "Pages"
        ],
        "summary": "Retrieve all Pages.",
        "security": [
          {
            "OAuth2": [
              "read_pages"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Pages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Page"
                  }
                }
              }
            }
          }
        },
        "operationId": "listPages"
      },
      "post": {
        "tags": [
          "Pages"
        ],
        "summary": "Create a new Page.",
        "security": [
          {
            "OAuth2": [
              "write_pages"
            ]
          }
        ],
        "parameters": [],
        "requestBody": {
          "description": "Page parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PageModify"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "x-openai-isConsequential": true,
        "operationId": "createPage"
      }
    },
    "/pages/{id}.json": {
      "get": {
        "tags": [
          "Pages"
        ],
        "summary": "Retrieve a single Page by id.",
        "security": [
          {
            "OAuth2": [
              "read_pages"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the Page",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page"
                }
              }
            }
          },
          "404": {
            "description": "Page Not Found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          }
        },
        "operationId": "getPage"
      }
    },
    "/orders/count.json": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Count all Orders.",
        "security": [
          {
            "OAuth2": [
              "read_orders"
            ]
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Count"
                }
              }
            }
          }
        },
        "operationId": "countOrders"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authorization code flow. Register your app at the Jumpseller Admin Panel to get client credentials. See https://jumpseller.com/support/oauth-2/ for details.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.jumpseller.com/oauth/authorize",
            "tokenUrl": "https://accounts.jumpseller.com/oauth/token",
            "refreshUrl": "https://accounts.jumpseller.com/oauth/token",
            "scopes": {
              "read_products": "Read products, variants, images, options, and custom fields",
              "write_products": "Create, update, and delete products",
              "read_orders": "Read orders, fulfillments, and order history",
              "write_orders": "Create, update, and refund orders",
              "read_customers": "Read customer accounts and groups",
              "write_customers": "Create, update, and delete customers",
              "read_categories": "Read product categories",
              "write_categories": "Create, update, and delete categories",
              "read_store": "Read store information and settings",
              "write_store": "Update store settings",
              "read_settings": "Read store configuration",
              "write_settings": "Update store configuration",
              "read_shipping_methods": "Read shipping methods and rates",
              "write_shipping_methods": "Create and update shipping methods",
              "read_payment_methods": "Read payment methods",
              "write_payment_methods": "Create and update payment methods",
              "read_hooks": "Read webhooks",
              "write_hooks": "Create, update, and delete webhooks",
              "read_promotions": "Read promotions and discounts",
              "write_promotions": "Create, update, and delete promotions",
              "read_taxes": "Read tax rules",
              "write_taxes": "Create and update tax rules",
              "read_pages": "Read store pages",
              "write_pages": "Create, update, and delete pages",
              "read_countries": "Read country information",
              "write_countries": "Update country settings",
              "read_custom_fields": "Read product custom fields",
              "write_custom_fields": "Create and update custom fields",
              "read_checkout_custom_fields": "Read checkout additional fields",
              "write_checkout_custom_fields": "Update checkout additional fields",
              "read_customer_categories": "Read customer categories",
              "write_customer_categories": "Create and update customer categories",
              "read_jsapps": "Read JavaScript apps",
              "write_jsapps": "Create, update, and delete JavaScript apps",
              "read_apps": "Read installed apps",
              "read_fulfillments": "Read fulfillment information",
              "write_fulfillments": "Create and update fulfillments",
              "read_locations": "Read warehouse locations",
              "write_locations": "Create and update locations",
              "write_reviews": "Manage product reviews",
              "read_transaction_ledgers": "Read store balance",
              "write_store_setup": "Create new stores via the store setup endpoint"
            }
          }
        }
      }
    },
    "schemas": {
      "Page": {
        "type": "object",
        "properties": {
          "page": {
            "$ref": "#/components/schemas/PageFields"
          }
        }
      },
      "StoreSetupResponse": {
        "type": "object",
        "properties": {
          "store": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Store unique code (subdomain)."
              },
              "name": {
                "type": "string",
                "description": "Store name."
              }
            }
          },
          "credentials": {
            "type": "object",
            "properties": {
              "login": {
                "type": "string",
                "description": "API login key for the new store."
              },
              "authtoken": {
                "type": "string",
                "description": "API authentication token for the new store."
              }
            }
          }
        }
      },
      "ProductEdit": {
        "type": "object",
        "properties": {
          "product": {
            "$ref": "#/components/schemas/ProductEditFields"
          }
        }
      },
      "PageFields": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Id of the Page"
          },
          "title": {
            "type": "string",
            "description": "Title of the Page"
          },
          "body": {
            "type": "string",
            "description": "Body of the Page"
          },
          "status": {
            "type": "string",
            "description": "Status of the Page",
            "enum": [
              "public",
              "draft",
              "hidden"
            ]
          },
          "legal": {
            "type": "boolean",
            "description": "True if it is a legal page"
          },
          "page_title": {
            "type": "string",
            "description": "Meta title of the Page"
          },
          "meta_description": {
            "type": "string",
            "description": "Meta description of the Page"
          },
          "categories": {
            "type": "array",
            "description": "Page categories to which the Page belongs to",
            "items": {
              "$ref": "#/components/schemas/PageCategory"
            }
          },
          "template": {
            "$ref": "#/components/schemas/PageTemplate"
          },
          "permalink": {
            "type": "string",
            "description": "URL of the Page"
          },
          "image": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "url": {
                "type": "string"
              }
            },
            "description": "Image of the Page"
          }
        }
      },
      "OrderProductStockLocations": {
        "type": "object",
        "properties": {
          "location_id": {
            "type": "integer",
            "description": "Unique identifier of the Order Product Location",
            "format": "int32"
          },
          "stock": {
            "type": "integer",
            "description": "Quantity in stock for the product at the location"
          }
        }
      },
      "ShippingService": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier of the Shipping Service",
            "format": "int32"
          },
          "service_name": {
            "type": "string",
            "description": "Name of the Shipping Service"
          },
          "service_code": {
            "type": "string",
            "description": "Code of the Shipping Service"
          },
          "name": {
            "type": "string",
            "description": "Name of the Shipping Service"
          },
          "enabled": {
            "type": "boolean",
            "description": "If the service is active or not"
          },
          "original_service_name": {
            "type": "string",
            "description": "Original name of the Shipping Service"
          }
        }
      },
      "VariantEditFields": {
        "type": "object",
        "properties": {
          "price": {
            "type": "number",
            "description": "Price of the product",
            "format": "float"
          },
          "sku": {
            "type": "string",
            "description": "Stock Keeping Unit of the Product's Variant"
          },
          "barcode": {
            "type": "string",
            "description": "Barcode of the Product's Variant",
            "default": "123456"
          },
          "stock": {
            "type": "integer",
            "description": "Quantity in stock for the Product's Variant",
            "format": "int32",
            "default": 100
          },
          "stock_unlimited": {
            "type": "boolean",
            "description": "True if the Product's Variant has unlimited stock"
          },
          "stock_threshold": {
            "type": "integer",
            "description": "Low stock threshold quantity.",
            "format": "int32",
            "default": 0
          },
          "stock_notification": {
            "type": "boolean",
            "description": "True if the Product has low stock threshold quantity enabled"
          },
          "cost_per_item": {
            "type": "number",
            "description": "Cost per item for the Product's Variant (only you can see this)"
          },
          "compare_at_price": {
            "type": "number",
            "description": "Used to show a sale price. Value must be higher than the price"
          },
          "image_id": {
            "type": "integer",
            "description": "Unique identifier of the product image to associate with this variant",
            "format": "int32"
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductOptionVariantEdit"
            }
          }
        }
      },
      "OrderShippingAddress": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the Order's Shipping Address"
          },
          "surname": {
            "type": "string",
            "description": "Surname of the Order's Shipping Address"
          },
          "address": {
            "type": "string",
            "description": "Address of the Order's Shipping Address"
          },
          "city": {
            "type": "string",
            "description": "City of the Order's Shipping Address"
          },
          "postal": {
            "type": "string",
            "description": "Postal code of the Order's Shipping Address"
          },
          "region": {
            "type": "string",
            "description": "Region name of the Order's Shipping Address"
          },
          "country": {
            "type": "string",
            "description": "Country name of the Order's Shipping Address"
          },
          "country_code": {
            "type": "string",
            "description": "Country code of the Order's Shipping Address (ISO 3166-1 alpha-2)"
          },
          "region_code": {
            "type": "string",
            "description": "Region code of the Order's Shipping Address (Use the FIPS standard - http://www.geonames.org/countries/)"
          },
          "street_number": {
            "type": "number",
            "description": "Street number of the Order's Shipping Address"
          },
          "complement": {
            "type": "string",
            "description": "Complement of the Order's Shipping Address"
          },
          "latitude": {
            "type": "number",
            "description": "Latitude of the Order's Shipping Address"
          },
          "longitude": {
            "type": "number",
            "description": "Longitude of the Order's Shipping Address"
          },
          "municipality": {
            "type": "string",
            "description": "Municipality of the Order's Shipping Address"
          },
          "neighbourhood": {
            "type": "string",
            "description": "Third level of administrative subdivision of the Customer's Shipping Address used only for some countries (e.g. Mexico)"
          }
        }
      },
      "Count": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "product": {
            "$ref": "#/components/schemas/ProductFields"
          }
        }
      },
      "CustomerAdditionalField": {
        "type": "object",
        "properties": {
          "customer_additional_field": {
            "$ref": "#/components/schemas/CustomerAdditionalFieldFields"
          }
        }
      },
      "ProductCreate": {
        "type": "object",
        "properties": {
          "product": {
            "$ref": "#/components/schemas/ProductCreateFields"
          }
        }
      },
      "PageModifyFields": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the Page"
          },
          "body": {
            "type": "string",
            "description": "Body of the Page"
          },
          "status": {
            "type": "string",
            "description": "Status of the Page",
            "enum": [
              "public",
              "draft",
              "hidden"
            ]
          },
          "page_title": {
            "type": "string",
            "description": "Meta title of the Page"
          },
          "meta_description": {
            "type": "string",
            "description": "Meta description of the Page"
          },
          "categories": {
            "type": "array",
            "description": "Page categories to which the Page belongs to",
            "items": {
              "type": "integer"
            }
          },
          "template": {
            "type": "string",
            "description": "Name of the page template. Use null for the blank layout. Supports a template integer id for backward compatibility. Uses the default template if omitted."
          },
          "permalink": {
            "type": "string",
            "description": "URL of the Page"
          }
        }
      },
      "ShippingMethod": {
        "type": "object",
        "properties": {
          "shipping_method": {
            "$ref": "#/components/schemas/ShippingMethodFields"
          }
        }
      },
      "OrderFields": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier of the Order",
            "format": "int32"
          },
          "source": {
            "$ref": "#/components/schemas/TrafficSource"
          },
          "created_at": {
            "type": "string",
            "description": "Order date"
          },
          "completed_at": {
            "type": "string",
            "description": "The date when the order was first completed."
          },
          "currency": {
            "type": "string",
            "description": "Currency of the Order"
          },
          "subtotal": {
            "type": "number",
            "description": "Subtotal value for the given Order. Excluding taxes, shipping and discounts",
            "format": "float"
          },
          "tax": {
            "type": "number",
            "description": "Tax value for the given order",
            "format": "float"
          },
          "shipping_tax": {
            "type": "number",
            "description": "Shipping Tax value for the given order",
            "format": "float"
          },
          "shipping": {
            "type": "number",
            "description": "Shipping value for the given Order",
            "format": "float"
          },
          "shipping_required": {
            "type": "boolean",
            "description": "False if the order is digital.",
            "default": true
          },
          "total": {
            "type": "number",
            "description": "Total value for the given Order. Including taxes, shipping and discounts",
            "format": "float"
          },
          "discount": {
            "type": "number",
            "description": "Discount value for the given Order",
            "format": "float"
          },
          "shipping_discount": {
            "type": "number",
            "description": "Shipping Discount value for the given order",
            "format": "float"
          },
          "gift_cards_discount": {
            "type": "number",
            "description": "Gift Cards Discount value for the given order",
            "format": "float"
          },
          "fulfillment_status": {
            "type": "string",
            "description": "Fulfillment Status for Order (translated)."
          },
          "shipping_method_id": {
            "type": "integer",
            "description": "Shipping method e.g. Royal Mail",
            "format": "int32"
          },
          "shipping_service_id": {
            "type": "integer",
            "description": "Shipping service",
            "format": "int32"
          },
          "shipping_method_name": {
            "type": "string",
            "description": "Shipping method e.g. Royal Mail"
          },
          "payment_method_name": {
            "type": "string",
            "description": "Payment Method name used e.g. PayPal"
          },
          "payment_method_type": {
            "type": "string",
            "description": "Payment Method type used e.g. paypal"
          },
          "payment_information": {
            "type": "string",
            "description": "Payment information for the given Order"
          },
          "payment_notification_id": {
            "type": "string",
            "description": "Payment notification identifier"
          },
          "additional_information": {
            "type": "string",
            "description": "Additional information for the given Order"
          },
          "duplicate_url": {
            "type": "string",
            "description": "Duplicate Order URL for the given Order"
          },
          "recovery_url": {
            "type": "string",
            "description": "Recovery Order URL for the given Order"
          },
          "review_url": {
            "type": "string",
            "description": "Review Order URL for the given Order"
          },
          "checkout_url": {
            "type": "string",
            "description": "Store Checkout Order URL for the given Order"
          },
          "coupons": {
            "type": "string",
            "description": "Promotion Coupons used on the given Order"
          },
          "promotions": {
            "type": "array",
            "description": "Promotions used on the given Order",
            "items": {
              "type": "string"
            }
          },
          "customer": {
            "$ref": "#/components/schemas/CustomerSimpleFields"
          },
          "shipping_branch": {
            "$ref": "#/components/schemas/OrderShippingBranch"
          },
          "shipping_address": {
            "$ref": "#/components/schemas/OrderShippingAddress"
          },
          "billing_address": {
            "$ref": "#/components/schemas/OrderBillingAddress"
          },
          "pickup_address": {
            "$ref": "#/components/schemas/OrderPickupAddress"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderProduct"
            }
          },
          "additional_fields": {
            "type": "array",
            "description": "Array of additional fields for the given Order",
            "items": {
              "$ref": "#/components/schemas/OrderAdditionalFields"
            }
          },
          "shipping_taxes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderShippingTax"
            }
          },
          "status": {
            "type": "string",
            "description": "Status of the Order (translated).",
            "enum": [
              "Abandoned",
              "Canceled",
              "Pending Payment",
              "Paid"
            ]
          },
          "status_name": {
            "type": "string",
            "description": "Status of the Order (translated).",
            "enum": [
              "Abandoned",
              "Canceled",
              "Pending Payment",
              "Paid"
            ]
          },
          "status_enum": {
            "type": "string",
            "description": "Status of the Order (enum).",
            "enum": [
              "abandoned",
              "canceled",
              "pending_payment",
              "paid"
            ]
          },
          "tracking_url": {
            "type": "string",
            "description": "Tracking URL for Order Fulfillment."
          },
          "tracking_company": {
            "type": "string",
            "description": "Company Used for Order Fulfillment."
          },
          "tracking_number": {
            "type": "string",
            "description": "Tracking Number for Order Fulfillment."
          },
          "shipping_option": {
            "type": "string",
            "description": "Shipping option for this order.",
            "enum": [
              "delivery",
              "store_pickup",
              "no_shipping"
            ]
          },
          "same_day_delivery": {
            "type": "boolean",
            "description": "True if same day delivery was selected for the order, false otherwise.",
            "default": false
          },
          "shipment_status": {
            "type": "string",
            "description": "Shipment Status for Order and Order Fulfillment (translated).",
            "enum": [
              "Delivered",
              "Requested",
              "In Transit",
              "Failed",
              "Pickup Available",
              "Unfulfilled"
            ]
          },
          "shipment_status_enum": {
            "type": "string",
            "description": "Shipment Status for Order and Order Fulfillment (enum).",
            "enum": [
              "delivered",
              "requested",
              "in_transit",
              "failed",
              "pickup_available",
              "unfulfilled"
            ]
          },
          "recovered_from": {
            "type": "integer",
            "description": "Show id of the order that was recovered from this order",
            "format": "int32"
          },
          "external_shipping_rate_id": {
            "type": "string",
            "description": "Rate id for selected External Shipping Method rate"
          },
          "external_shipping_rate_description": {
            "type": "string",
            "description": "Rate description for selected External Shipping Method rate"
          },
          "billing_information": {
            "$ref": "#/components/schemas/BillingInformationFields"
          }
        }
      },
      "CustomerCategoryFields": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier of the CustomerCategory",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Name of the CustomerCategory"
          },
          "code": {
            "type": "string",
            "description": "Code of the CustomerCategory"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "order": {
            "$ref": "#/components/schemas/OrderFields"
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "payment_method": {
            "$ref": "#/components/schemas/PaymentMethodFields"
          }
        }
      },
      "OrderBillingAddress": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the Order's Billing Address"
          },
          "surname": {
            "type": "string",
            "description": "Surname of the Order's Billing Address"
          },
          "taxid": {
            "type": "string",
            "description": "TaxID of the Order's Billing Address"
          },
          "address": {
            "type": "string",
            "description": "Address of the Order's Billing Address"
          },
          "city": {
            "type": "string",
            "description": "City of the Order's Billing Address"
          },
          "postal": {
            "type": "string",
            "description": "Postal code of the Order's Billing Address"
          },
          "region": {
            "type": "string",
            "description": "Region name of the Order's Billing Address"
          },
          "country": {
            "type": "string",
            "description": "Country name of the Order's Billing Address"
          },
          "country_code": {
            "type": "string",
            "description": "Country code of the Order's Billing Address (ISO 3166-1 alpha-2)"
          },
          "region_code": {
            "type": "string",
            "description": "Region code of the Order's Billing Address (Use the FIPS standard - http://www.geonames.org/countries/)"
          },
          "street_number": {
            "type": "number",
            "description": "Street number of the Order's Billing Address"
          },
          "complement": {
            "type": "string",
            "description": "Complement of the Order's Billing Address"
          },
          "municipality": {
            "type": "string",
            "description": "Municipality of the Order's Billing Address"
          },
          "neighbourhood": {
            "type": "string",
            "description": "Third level of administrative subdivision of the Customer's Shipping Address used only for some countries (e.g. Mexico)"
          }
        }
      },
      "ProductEditFields": {
        "required": [
          "name",
          "price"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the product"
          },
          "description": {
            "type": "string",
            "description": "Description of the product"
          },
          "page_title": {
            "type": "string",
            "description": "SEO title of the product"
          },
          "meta_description": {
            "type": "string",
            "description": "SEO meta description of the product"
          },
          "type": {
            "type": "string",
            "description": "Type of the product (physical, digital or gift_card)"
          },
          "days_to_expire": {
            "type": "integer",
            "description": "Number of days after the purchase date that the gift card will remain valid",
            "format": "int32",
            "default": 365
          },
          "price": {
            "type": "number",
            "description": "Price of the product",
            "format": "float"
          },
          "weight": {
            "type": "number",
            "description": "Weight of the product",
            "format": "float",
            "default": 1
          },
          "stock": {
            "type": "integer",
            "description": "Quantity in stock for the product",
            "format": "int32",
            "default": 100
          },
          "stock_unlimited": {
            "type": "boolean",
            "description": "True if the Product has unlimited stock"
          },
          "stock_threshold": {
            "type": "integer",
            "description": "Low stock threshold quantity.",
            "format": "int32",
            "default": 0
          },
          "stock_notification": {
            "type": "boolean",
            "description": "True if the Product has low stock threshold quantity enabled"
          },
          "back_in_stock_enabled": {
            "type": "boolean",
            "description": "True if email alerts for customers when this product is restocked are enabled"
          },
          "cost_per_item": {
            "type": "number",
            "description": "Cost per item of the product (only you can see this)."
          },
          "compare_at_price": {
            "type": "number",
            "description": "Used to show a sale price. Value must be higher than the price."
          },
          "minimum_quantity": {
            "type": "number",
            "description": "Minimum amount of units required to proceed with the purchase. If present, must be bigger than 0."
          },
          "maximum_quantity": {
            "type": "number",
            "description": "Maximum amount of units that can be purchased per order. If present, must be bigger or equal to minimum_quantity."
          },
          "sku": {
            "type": "string",
            "description": "Stock Keeping Unit of the product"
          },
          "barcode": {
            "type": "string",
            "description": "Barcode of the product"
          },
          "google_product_category_text": {
            "type": "string",
            "description": "Human-readable label for the Google product taxonomy category"
          },
          "quotable": {
            "type": "boolean",
            "description": "True if the product can be quoted",
            "default": false
          },
          "featured": {
            "type": "boolean",
            "description": "True if the product is featured",
            "default": false
          },
          "shipping_required": {
            "type": "boolean",
            "description": "False if the product is digital",
            "default": true
          },
          "status": {
            "type": "string",
            "description": "Status of the product",
            "default": "available",
            "enum": [
              "available",
              "not-available",
              "disabled"
            ]
          },
          "package_format": {
            "type": "string",
            "description": "Format the product package",
            "default": "box",
            "enum": [
              "box",
              "cylinder"
            ]
          },
          "length": {
            "type": "number",
            "description": "Length of the product",
            "format": "float"
          },
          "width": {
            "type": "number",
            "description": "Width of the product",
            "format": "float"
          },
          "height": {
            "type": "number",
            "description": "Height of the product",
            "format": "float"
          },
          "diameter": {
            "type": "number",
            "description": "Diameter of the product",
            "format": "float"
          },
          "permalink": {
            "type": "string",
            "description": "Product unique URL path"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CategoryFields"
            }
          },
          "variants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VariantFields"
            }
          }
        }
      },
      "CustomerFields": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier of the Customer",
            "format": "int32"
          },
          "email": {
            "type": "string",
            "description": "Email of the Customer"
          },
          "phone": {
            "type": "string",
            "description": "Phone of the Customer"
          },
          "fullname": {
            "type": "string",
            "description": "Customer fullname retrieved from the default billing address. Defaults to customer email if no name is found."
          },
          "status": {
            "type": "string",
            "description": "Status of the Customer",
            "enum": [
              "approved",
              "pending",
              "disabled"
            ]
          },
          "accepts_marketing": {
            "type": "boolean",
            "description": "Indicates whether the Customer accepts marketing or not",
            "default": false
          },
          "accepted_marketing_at": {
            "type": "string",
            "description": "Marketing acceptation start date. Should be in format 'Y-m-d"
          },
          "cancelled_marketing_at": {
            "type": "string",
            "description": "Marketing cancelation start date. Should be in format 'Y-m-d"
          },
          "shipping_address": {
            "$ref": "#/components/schemas/ShippingAddress"
          },
          "billing_address": {
            "$ref": "#/components/schemas/BillingAddress"
          },
          "customer_categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerCategory"
            }
          },
          "customer_additional_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerAdditionalField"
            }
          }
        }
      },
      "OrderProduct": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier of the original Product",
            "format": "int32"
          },
          "variant_id": {
            "type": "integer",
            "description": "Unique identifier of the original Product Variant",
            "format": "int32"
          },
          "sku": {
            "type": "string",
            "description": "Stock Keeping Unit of the Order Product"
          },
          "name": {
            "type": "string",
            "description": "Name of the Order Product"
          },
          "image": {
            "type": "string",
            "description": "Image URL of the Order Product"
          },
          "qty": {
            "type": "integer",
            "description": "Price of the Order Product",
            "format": "int32"
          },
          "price": {
            "type": "number",
            "description": "Price of the Order Product",
            "format": "float"
          },
          "discount": {
            "type": "number",
            "description": "Discount of the Order Product",
            "format": "float"
          },
          "weight": {
            "type": "number",
            "description": "Weight of the Order Product",
            "format": "float",
            "default": 1
          },
          "taxes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderProductTax"
            }
          },
          "stock_locations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderProductStockLocations"
            }
          }
        }
      },
      "StoreAddress": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "Address of the Store's Address"
          },
          "city": {
            "type": "string",
            "description": "City of the Store's Address"
          },
          "postal": {
            "type": "string",
            "description": "Postal code of the Store's Address"
          },
          "region": {
            "type": "string",
            "description": "Region of the Store's Address"
          },
          "country": {
            "type": "string",
            "description": "Country of the Store's Address (ISO 3166-1 alpha-2)"
          },
          "region_code": {
            "type": "string",
            "description": "Region code of the Store's Address"
          },
          "country_code": {
            "type": "string",
            "description": "Country code of the Store's Address"
          }
        }
      },
      "Store": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Store Name"
          },
          "code": {
            "type": "string",
            "description": "Store Code"
          },
          "currency": {
            "type": "string",
            "description": "Store Currency"
          },
          "country": {
            "type": "string",
            "description": "Store Country"
          },
          "timezone": {
            "type": "string",
            "description": "Store Timezone"
          },
          "email": {
            "type": "string",
            "description": "Store Admin Email"
          },
          "hooks_token": {
            "type": "string",
            "description": "Store Hooks Auth token"
          },
          "url": {
            "type": "string",
            "description": "Store URL"
          },
          "logo": {
            "type": "string",
            "description": "Store Logo URL"
          },
          "weight_unit": {
            "type": "string",
            "description": "Store Weight Unit"
          },
          "subscription_status": {
            "type": "string",
            "description": "Subscription status"
          },
          "subscription_plan": {
            "type": "string",
            "description": "Subscription plan"
          },
          "fb_pixel_id": {
            "type": "string",
            "description": "Facebook Pixel Id"
          },
          "address": {
            "$ref": "#/components/schemas/StoreAddress"
          },
          "whatsapp_phone": {
            "type": "string",
            "description": "Store WhatsApp Phone"
          }
        }
      },
      "ProductOptionVariantEdit": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the product option"
          },
          "option_type": {
            "type": "string",
            "description": "Type of the product option that generates variants",
            "enum": [
              "option",
              "color"
            ]
          },
          "value": {
            "type": "string",
            "description": "Value of the product option"
          },
          "custom": {
            "type": "string",
            "description": "Hexadecimal value of color. Only available for product option type 'Color'"
          },
          "product_option_position": {
            "type": "integer",
            "description": "position of product option",
            "format": "int32"
          },
          "product_value_position": {
            "type": "integer",
            "description": "position of product option value",
            "format": "int32"
          }
        }
      },
      "BillingAddress": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the Customer's Billing Address"
          },
          "surname": {
            "type": "string",
            "description": "Surname of the Customer's Billing Address"
          },
          "taxid": {
            "type": "string",
            "description": "Tax id of the Customer's Billing Address"
          },
          "address": {
            "type": "string",
            "description": "Address of the Customer's Billing Address"
          },
          "city": {
            "type": "string",
            "description": "City of the Customer's Billing Address"
          },
          "postal": {
            "type": "string",
            "description": "Postal code of the Customer's Billing Address"
          },
          "municipality": {
            "type": "string",
            "description": "Municipality of the Customer's Billing Address"
          },
          "region": {
            "type": "string",
            "description": "Region code of the Customer's Billing Address (Use the FIPS standard - http://www.geonames.org/countries/)"
          },
          "country": {
            "type": "string",
            "description": "Country code of the Customer's Billing Address (ISO 3166-1 alpha-2)"
          }
        }
      },
      "ProductFields": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier of the product",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Name of the product"
          },
          "page_title": {
            "type": "string",
            "description": "SEO title of the product"
          },
          "description": {
            "type": "string",
            "description": "Description of the product"
          },
          "type": {
            "type": "string",
            "description": "Type of the product (physical, digital or gift_card)"
          },
          "days_to_expire": {
            "type": "integer",
            "description": "Number of days after the purchase date that the gift card will remain valid",
            "format": "int32",
            "default": 365
          },
          "price": {
            "type": "number",
            "description": "Price of the product",
            "format": "float"
          },
          "discount": {
            "type": "number",
            "description": "Discount of the product",
            "format": "float"
          },
          "weight": {
            "type": "number",
            "description": "Weight of the product",
            "format": "float",
            "default": 1
          },
          "stock": {
            "type": "integer",
            "description": "Quantity in stock for the product",
            "format": "int32",
            "default": 100
          },
          "stock_unlimited": {
            "type": "boolean",
            "description": "True if the Product has unlimited stock"
          },
          "stock_threshold": {
            "type": "integer",
            "description": "Low stock threshold quantity.",
            "format": "int32",
            "default": 0
          },
          "stock_notification": {
            "type": "boolean",
            "description": "True if the Product has low stock threshold quantity enabled"
          },
          "back_in_stock_enabled": {
            "type": "boolean",
            "description": "True if email alerts for customers when this product is restocked are enabled"
          },
          "cost_per_item": {
            "type": "number",
            "description": "Cost per item of the product (only you can see this)."
          },
          "compare_at_price": {
            "type": "number",
            "description": "Used to show a sale price. Value must be higher than the price."
          },
          "sku": {
            "type": "string",
            "description": "Stock Keeping Unit of the product"
          },
          "brand": {
            "type": "string",
            "description": "Brand of the product"
          },
          "barcode": {
            "type": "string",
            "description": "Barcode of the product"
          },
          "google_product_category_text": {
            "type": "string",
            "description": "Human-readable label for the Google product taxonomy category"
          },
          "quotable": {
            "type": "boolean",
            "description": "True if the product can be quoted",
            "default": false
          },
          "featured": {
            "type": "boolean",
            "description": "True if the product is featured",
            "default": false
          },
          "reviews_enabled": {
            "type": "boolean",
            "description": "True if the customer reviews are enabled for this product",
            "default": true
          },
          "status": {
            "type": "string",
            "description": "Status of the product",
            "default": "available",
            "enum": [
              "available",
              "not-available",
              "disabled"
            ]
          },
          "created_at": {
            "type": "string",
            "description": "Date of product creation"
          },
          "updated_at": {
            "type": "string",
            "description": "Date of the last product update"
          },
          "package_format": {
            "type": "string",
            "description": "Format the product package",
            "default": "box",
            "enum": [
              "box",
              "cylinder"
            ]
          },
          "length": {
            "type": "number",
            "description": "Length of the product",
            "format": "float"
          },
          "width": {
            "type": "number",
            "description": "Width of the product",
            "format": "float"
          },
          "height": {
            "type": "number",
            "description": "Height of the product",
            "format": "float"
          },
          "diameter": {
            "type": "number",
            "description": "Diameter of the product",
            "format": "float"
          },
          "permalink": {
            "type": "string",
            "description": "Product unique URL path"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CategoryFields"
            }
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImageFields"
            }
          },
          "variants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VariantFields"
            }
          },
          "digital_products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DigitalProductFields"
            }
          }
        }
      },
      "OrderEdit": {
        "type": "object",
        "properties": {
          "order": {
            "$ref": "#/components/schemas/OrderEditFields"
          }
        }
      },
      "OrderProductTax": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier of the Order Product Tax",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Name of the category that the tax is associated with or the tax name"
          },
          "rate": {
            "type": "number",
            "description": "Tax rate",
            "format": "float"
          },
          "fixed": {
            "type": "boolean",
            "description": "False if rate is a percentage and true if rate is monetary",
            "default": false
          },
          "tax_on_product_price": {
            "type": "boolean",
            "description": "False if tax is not included on product price",
            "default": false
          }
        }
      },
      "ImageEdit": {
        "type": "object",
        "properties": {
          "image": {
            "$ref": "#/components/schemas/ImageEditFields"
          }
        }
      },
      "ShippingFee": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Shipping fee type can be fixed/percentage"
          },
          "value": {
            "type": "number",
            "description": "Shipping value as fixed/percentage value depeding on type",
            "format": "float"
          }
        }
      },
      "OrderShippingBranch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the Order's Shipping Branch",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Name of the Order's Shipping Branch"
          }
        }
      },
      "ShippingTablesValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Upper bound to limit which shipping fee should be applied depeding on the Basedon returned property",
            "format": "float"
          },
          "price": {
            "type": "number",
            "description": "Shipping price fee to apply",
            "format": "float"
          }
        }
      },
      "Image": {
        "type": "object",
        "properties": {
          "image": {
            "$ref": "#/components/schemas/ImageFields"
          }
        }
      },
      "Variant": {
        "type": "object",
        "properties": {
          "variant": {
            "$ref": "#/components/schemas/VariantFields"
          }
        }
      },
      "VariantEdit": {
        "type": "object",
        "properties": {
          "variant": {
            "$ref": "#/components/schemas/VariantEditFields"
          }
        }
      },
      "ShippingMethodFields": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier of the Shipping Method",
            "format": "int32"
          },
          "type": {
            "type": "string",
            "description": "Type of the Shipping Method",
            "enum": [
              "free",
              "tables",
              "correos_chile",
              "chilexpress",
              "flat",
              "ups",
              "external"
            ]
          },
          "name": {
            "type": "string",
            "description": "Name of the Shipping Method"
          },
          "enabled": {
            "type": "boolean",
            "description": "If the shipping method is active"
          },
          "free_shipping": {
            "type": "boolean",
            "description": "If the shipping method is free"
          },
          "free_shipping_minimum_purchase": {
            "type": "boolean",
            "description": "Minimum purchase price value to enable free shipping"
          },
          "fee": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShippingFee"
            }
          },
          "callback_url": {
            "type": "string",
            "description": "URL that receives the shipping data and returns rates"
          },
          "fetch_services_url": {
            "type": "string",
            "description": "URL that returns available shipping services"
          },
          "state": {
            "type": "string",
            "description": "State/Region code of origin"
          },
          "city": {
            "type": "string",
            "description": "City/Municipality name of origin"
          },
          "postal": {
            "type": "string",
            "description": "Postal/Zipcode of origin"
          },
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShippingService"
            }
          },
          "tables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShippingTables"
            }
          }
        }
      },
      "PageModify": {
        "type": "object",
        "properties": {
          "page": {
            "$ref": "#/components/schemas/PageModifyFields"
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "customer": {
            "$ref": "#/components/schemas/CustomerFields"
          }
        }
      },
      "BillingInformationFields": {
        "type": "object",
        "properties": {
          "business_activity": {
            "type": "string",
            "description": "Giro"
          },
          "company_name": {
            "type": "string",
            "description": "Razon Social"
          },
          "taxpayer_type": {
            "type": "string",
            "description": "Tipo de Contribuinte"
          }
        }
      },
      "ShippingAddress": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the Customer's Shipping Address"
          },
          "surname": {
            "type": "string",
            "description": "Surname of the Customer's Shipping Address"
          },
          "address": {
            "type": "string",
            "description": "Address of the Customer's Shipping Address"
          },
          "city": {
            "type": "string",
            "description": "City of the Customer's Shipping Address"
          },
          "postal": {
            "type": "string",
            "description": "Postal code of the Customer's Shipping Address"
          },
          "municipality": {
            "type": "string",
            "description": "Municipality of the Customer's Shipping Address"
          },
          "region": {
            "type": "string",
            "description": "Region code of the Customer's Shipping Address (Use the FIPS standard - http://www.geonames.org/countries/)"
          },
          "country": {
            "type": "string",
            "description": "Country code of the Customer's Shipping Address (ISO 3166-1 alpha-2)"
          }
        }
      },
      "CategoryEditFields": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the Category"
          },
          "parent_id": {
            "type": "integer",
            "description": "Unique identifier of the Parent Category",
            "format": "int32"
          }
        }
      },
      "PaymentMethodFields": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier of the Payment Method",
            "format": "int32"
          },
          "type": {
            "type": "string",
            "description": "Type of the Payment Method",
            "enum": [
              "manual",
              "paypal",
              "pagseguro",
              "moneybookers",
              "webpay_cl",
              "easypay",
              "easypaycc",
              "ideal_basic",
              "hipay",
              "khipu",
              "mercado_pago",
              "ifthenpay",
              "eupago",
              "stripe",
              "payu",
              "servipag",
              "external_payment_gateway"
            ]
          },
          "name": {
            "type": "string",
            "description": "Name of the Payment Method"
          }
        }
      },
      "NotFound": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "OrderPickupAddress": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the Order's Pickup Address"
          },
          "surname": {
            "type": "string",
            "description": "Surname of the Order's Pickup Address"
          },
          "address": {
            "type": "string",
            "description": "Address of the Order's Pickup Address"
          },
          "city": {
            "type": "string",
            "description": "City of the Order's Pickup Address"
          },
          "postal": {
            "type": "string",
            "description": "Postal code of the Order's Pickup Address"
          },
          "region": {
            "type": "string",
            "description": "Region name of the Order's Pickup Address"
          },
          "country": {
            "type": "string",
            "description": "Country name of the Order's Pickup Address"
          },
          "country_code": {
            "type": "string",
            "description": "Country code of the Order's Pickup Address (ISO 3166-1 alpha-2)"
          },
          "region_code": {
            "type": "string",
            "description": "Region code of the Order's Pickup Address (Use the FIPS standard - http://www.geonames.org/countries/)"
          },
          "street_number": {
            "type": "number",
            "description": "Street number of the Order's Pickup Address"
          },
          "complement": {
            "type": "string",
            "description": "Complement of the Order's Pickup Address"
          },
          "municipality": {
            "type": "string",
            "description": "Municipality of the Order's Pickup Address"
          },
          "pickup_place_name": {
            "type": "string",
            "description": "Name of the Pickup Place"
          }
        }
      },
      "OrderAdditionalFields": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Label of the additional field",
            "format": "string"
          },
          "value": {
            "type": "string",
            "description": "Value of the additional field",
            "format": "string"
          },
          "id": {
            "type": "integer",
            "description": "Id of the additional field",
            "format": "int32"
          },
          "area": {
            "type": "string",
            "description": "Area of the additional field",
            "format": "string"
          }
        },
        "description": "Additional field of an order"
      },
      "Category": {
        "type": "object",
        "properties": {
          "category": {
            "$ref": "#/components/schemas/CategoryFields"
          }
        }
      },
      "CategoryFields": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier of the Category",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Name of the Category"
          },
          "parent_id": {
            "type": "integer",
            "description": "Unique identifier of the Parent Category",
            "format": "int32"
          },
          "permalink": {
            "type": "string",
            "description": "Category unique URL path"
          }
        }
      },
[...]
